.my-div-icon {

}

/*.headerPane .dxsplLCC {
    min-height: 0px !important;
}

.dxsplControl_DevEx .dxsplLCC {
    padding: 0px;
}

.dxsplPane_DevEx {
    height: 0px !important;
    border: 0px !important;
}

#MainSplitter_0 {
    height: 0px !important;
    border: 0px !important;
    background-color: white !important;
}

.dx-pivotgrid .dx-pivotgrid-vertical-headers td {
    min-width: 0px !important;
    width: 0px !important;
}

.dx-pivotgrid td  {
    white-space: nowrap;
}*/